{% extends 'base.html.twig' %}

{% block title %}Enter new recueil data{% endblock %}

{% block body %}

<div class="container">
    {{ form_start(form) }}
    <div class="row">
        {{ form_row(form.origine, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form.dmm, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form.niveau_de_risque, {'row_attr': {'class' : 'col'}}) }}
    </div>
    <div class="row">
        {{ form_row(form.problematique, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form.priorisation, {'row_attr': {'class' : 'col'}}) }}
    </div>
    <div class="row">
        {{ form_label(form.propSurv) }}
        {% for child in form.propSurv.children %}
            {{ form_row(child, {'row_attr' : {'class' : 'col'}}) }}
        {% endfor %}
    </div>   
    {{ form_row(form.resultat_surv) }}
    
    {{ form_row(form.mesure_de_maitrise_de_risque) }}
    {{ form_row(form.mesure_dimpact) }}
    {{ form_row(form.mesImpactComment) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.listSurv) }}
    {{ form_row(form.visible) }}

    {{ form_end(form) }}
</div>

{% endblock %}