{% extends 'base.html.twig' %}

{% block title %}
  Recueil PSR
{% endblock %}
{% block body %}
  <div class="container" id="main-container">
    <a class="btn btn-primary" href="{{ path('app_affiche_new_codex') }}" role="button">Créer un nouveau Recueil</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Origine <i class="fa fa-fw fa-sort" onclick="location.href='{{ path('app_show_recueil', {'sortFilter' : 'origine'}) }}';"></i></th>
          <th scope="col">DMM <i class="fa fa-fw fa-sort" onclick="location.href='{{ path('app_show_recueil', {'sortFilter' : 'dmm'}) }}';"></i></th>
          <th scope="col">Substance</th>
          <th scope="col">Produit</th>
          <th scope="col">Code ATC</th>
          <th scope="col">Problematique</th>
          <th scope="col">Resultat surv</th>
          <th scope="col">Mesure de maitrise</th>
          <th scope="col">Mesure d' impact</th>
          <th scope="col">Proposition d'outil de surv</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Année du PSR</th>
        </tr>
      </thead>
      <tbody>
        {% for en in tables|origine(sortFilter) %}
          <tr onclick="location.href='{{ path('app_affiche_codex', {'id' : en.id}) }}';">
            <td>{{ en.origine.origine }}</td>
            <td>{{ en.dmm.pole }}</td>
            <td>{{ en.substance }}</td>
            <td>{{ en.produit }}</td>
            <td>{{ en.codeatc }}</td>
            <td>{{ en.problematique }}</td>
            <td>{{ en.resultatSurv }}</td>
            <td>{{ en.mesMaitRisk }}</td>
            <td>{{ en.mesImpact.libelle }} {{ en.mesImpactComment }}</td>
            <td>
                {% for prop in en.propSurv %}  
                {{prop.Proposition}}
                {% endfor %}
            </td>
            <td>{{ en.commentaire }}</td>
            <td>{{ en.listSurv.year }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
