{% extends 'base.html.twig' %}

{% block title %}Hello AfficheCodexController!{% endblock %}

{% block body %}


<div class="container">
    {# <h1>Hello {{ controller_name }}! ✅</h1> #}

    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/www_htdocs/Recueil_PSR/src/Controller/AfficheCodexController.php'|file_link(0) }}">src/Controller/AfficheCodexController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/www_htdocs/Recueil_PSR/templates/affiche_codex/index.html.twig'|file_link(0) }}">templates/affiche_codex/index.html.twig</a></code></li>
    </ul> #}


        {{ form_start(form_rech_med) }}
        <div class="container p-4">
            <div class="row">
                <div class="col-2">
                    <p class="text-center">
                        {{ form_label(form_rech_med.denomination, "Dénomination : ") }}
                    </p>
                </div>       

            {#        {{ form_errors(form_rech_med.produit) }}#}
                <div class="col-10">
                    {{ form_widget(form_rech_med.denomination, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-2">
                    <p class="text-center">
                        {{ form_label(form_rech_med.DCI, "DCI : ") }}
                    </p>
                </div>  
                <div class="col-10">
                    {{ form_widget(form_rech_med.DCI, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col text-center">
                    {{ form_row(form_rech_med.submit, {'attr':{'class': 'btn btn-primary'}}) }}           
                </div>
            </div>
        </div>

        {{ form_end(form_rech_med) }}


        {{ form_start(form_select_med) }}


        <div class="container p-4">
            <div class="row">  
                <div class="col-10">

        {# <div class="container p-4">
            <select  class="form-select" aria-label="DropDownMedicament" name="DropDownMedicament">
                <option selected>choisissez un médicament</option>
                {% for medoc in medoc %}
                    <option value="{{ loop.index }}">
                        {{ loop.index }} - {{ medoc.nomVU }} / {{ medoc.nomSubstance }} / {{ medoc.DboClasseATCLibAbr }} 
                    </option>
                {% endfor %}
            </select>
        </div> #}


                
                    {{ form_widget(form_select_med.savuutil, {'attr': {'class': 'form-select'}}) }}

                    {# <select id="form_denomination" name="form[denomination]" class="form-select">
                        <option selected>choisissez un médicament</option>
                        {% for medoc in medoc %}
                            <option value="{{ loop.index }}">
                                {{ loop.index }} - {{ medoc.nomVU }} / {{ medoc.nomSubstance }} / {{ medoc.DboClasseATCLibAbr }} 
                            </option>
                        {% endfor %}
                    </select> #}





                    
                </div>

                <div class="col text-center">
                    {{ form_row(form_select_med.submit, {'attr':{'class': 'btn btn-primary'}}) }}           
                </div>

            </div>
        </div>



        {# <div class="container p-4">
            <select  class="form-select" aria-label="DropDownMedicament" name="DropDownMedicament">
                <option selected>choisissez un médicament</option>
                {% for medoc in medoc %}
                    <option value="{{ loop.index }}">
                        {{ loop.index }} - {{ medoc.nomVU }} / {{ medoc.nomSubstance }} / {{ medoc.DboClasseATCLibAbr }} 
                    </option>
                {% endfor %}
            </select>
        </div> #}
        {{ form_end(form_select_med) }}

        {{ form_start(form_rec) }}

    <div class="row">
        {{ form_row(form_rec.produit, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form_rec.substance, {'row_attr': {'class' : 'col'}}) }}
    </div>
    <div class="row">
        {{ form_row(form_rec.origine, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form_rec.dmm, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form_rec.niveau_de_risque, {'row_attr': {'class' : 'col'}}) }}
    </div>
    <div class="row">
        {{ form_row(form_rec.problematique, {'row_attr': {'class' : 'col'}}) }}
        {{ form_row(form_rec.priorisation, {'row_attr': {'class' : 'col'}}) }}
    </div>
    <div class="row">
        {#{ form_label(form_rec.propSurv) }#}
        <legend class="col-form-label required">Proposition d'outil de surveillance</legend>
        {% for child in form_rec.propSurv.children %}
            {{ form_row(child, {'row_attr' : {'class' : 'col'}}) }}
        {% endfor %}
    </div>   
    {{ form_row(form_rec.resultat_surv) }}
    
    {{ form_row(form_rec.mesure_de_maitrise_de_risque) }}
    {{ form_row(form_rec.mesure_dimpact) }}
    {{ form_row(form_rec.mesImpactComment) }}
    {{ form_row(form_rec.commentaire) }}
    {{ form_row(form_rec.listSurv) }}
    {{ form_row(form_rec.visible) }}

    {{ form_end(form_rec) }}



    {# {{ dump(medoc) }} #}

</div>
{% endblock %}
